
/**
共通
**/

@media only screen 
and (min-width : 1020px) {
	.container{
		width: 1020px !important; 
	}
	
}

@media only screen and (min-width : 768px){
	#global-navi div.container{
		width: 775px !important;
	}
}

@media only screen 
and (max-width : 1020px) {
	.container, .container-fluid	{
		
	}
	#global-navi.container-fluid, #global-navi div.container{
		padding-right: 0;
		padding-left: 0;
		
	}
}

body, p, div, li, a{
	font-size: 12px;
}
body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
/*	font-family: 'GT-Haptik-Regular', 'Roboto', 'Hiragino Kaku Gothic ProN', ヒラギノ角ゴ ProN W3, 游ゴシック, "Yu Gothic", YuGothic, 'Open Sans', メイリオ, meiryo, sans-serif;, serif; */
	color: rgb(34, 23, 20);
}
h1{
	font-size: 20px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-weight: bold;

}

h2{
	font-size: 20px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	font-weight: bold;
}
h3{
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	margin-top:1em;
	margin-bottom:0;
}
.w100{
	width: 100%;
}

.mt-1{
	margin-top:1rem;
}

.mt-5{
	margin-top:5rem;
}

@media only screen and (max-width : 991px) {
	.mt-header-xs{
		margin-top:50px !important;
	}
}


.mt-10{
	margin-top:5rem;
}
.mt-20{
	margin-top:20rem;
}

@media only screen and (min-width : 990px) {
	.mt-5-lg{
		margin-top:5rem!important;
	}
}


.mb-1{
	margin-bottom:1rem;
}
.mb-2{
	margin-bottom:2rem;
}
.mb-5{
	margin-bottom: 5rem;
}
.mb-10{
	margin-bottom: 10rem;
}
.mb-12{
	margin-bottom: 12rem;
}

.mh-100vh{
	min-height: 100vh;
}

.bg-black-clor-white{
	background-color: black;
	color: white;
}

.sub-title{
	width: 100%;
	text-align: center;
	margin: 60px 0;
}

.sub-sub-title{
	width: 100%;
	text-align: center;
	margin-top: -60px;
	color:darkgray;
}

.btn-more{
	width:20%;
	border: none;
}

.text-gray{
	color:darkgray;
}

@media only screen 
and (max-width : 991px) {
	.btn-more{
		width:80%;
	}
	
}

@media only screen 
and (max-width : 767px) {
	.pull-left-xs{
		float: left !important;
	}
}

/**
グルーバルナビ
**/
#global-navi{
    background-color: white;
	font-size: 11px;
	position: fixed;
	z-index: 100;
    width: 100%;
	transition: 0.5s;
	top: 0;
	border-bottom: #eef0f1 solid 1px;
}

#global-navi .container{
	width: 100%;
}

@media only screen 
and (max-width : 991px) {
	#global-navi{
	   height: 50px;
/*	   position: relative;*/
	}	
	#global-navi .row{
		margin-right: 0;
		width: 100%;
	}
	
	#global-navi #sp-gloabl-menus.row{
		margin-right: -15px;
		width: 100vw;
		
	}
}

@media only screen 
and (min-width : 992px) {
	#global-navi{
	   height: 50px;
	}	
	
	
	#global-navi.zeroscroll{
		height: 90px;
		position: relative;
		z-index:initial;
		width:auto;
	}
}


.global-navi-wrapper{
	padding:0;
	display: flex;
    justify-content: flex-end;
}

.global-navi-top{
	width: 100%;
	text-align: left !important;
}

.global-navi-top img{
	height: 15px;
	margin-top: 17px;
	margin-left:0;
}

.global-navi-col{

	display:block;
/*	float:right;*/
	text-decoration: none;
	margin-left: 40px;
	vertical-align: middle;
    height: 50px;
	
	
}
.global-navi-col:hover{
	border-bottom: 1px black solid;
}

.global-navi-col a:hover{
	text-transform: none;
}
.global-navi-col.active{
	font-weight: bold;
}

.global-navi-col h1, .global-navi-col span{
	font-size: 11px;
	text-decoration: none;
	color:black;
	padding: 0;
    margin: 0;
    line-height: 50px;
}


.global-navi-link{
	margin: 0px !important; 
	text-align: center !important;

}
.global-navi-top, .global-navi-link{
	position: relative;
	display: block;	
	margin: 0;
	overflow: visible;
	text-align: center
}

.global-navi-link.active{
	border-bottom: 1px solid white;
}
	
.global-navi-top span, .global-navi-link span, .global-navi-link h1{
	height: 18px;
	display: inline-block; 
	font-size: 11px;
	text-align: center;
	color: rgb(34, 23, 20);
/*	line-height: 50px;*/
	transition: 0.5s;
	font-family: 'GT-Haptik-Regular', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック';
}



.global-navi-top img, .global-navi-link img{
	width:auto;
	transition: 0.5s;
}

@media only screen 
and (max-width : 991px) {
	.global-navi-top img, .global-navi-link img{
		height: 15px;
    margin-top: 22px;
    margin-left: 15px;

	}

}

@media only screen 
and (min-width : 992px) {
	.global-navi-top img, .global-navi-link img{
		height:15px;
		margin:10px;
		margin-top: 17px;

	}
	
	#global-navi.zeroscroll .global-navi-top img{
		height: 15px;
    	margin: 10px;
    	margin-top: 38px;
	}
	
	#global-navi.zeroscroll .global-navi-top span, #global-navi.zeroscroll .global-navi-link span, #global-navi.zeroscroll .global-navi-col h1{
		line-height: 90px;
	}
	
	#global-navi.zeroscroll .global-navi-col{
		height: 90px;
	}

}


/*
.global-navi-top:<span>RECRUIT</span> img, .global-navi-link:<span>RECRUIT</span> img{
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}
*/

#show-global-menus{
	position: relative;
    float: right;
    padding: 7px 10px;
    margin-top: 7px;
    margin-right: -12px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
/*
    border-radius: 4px;
    border-color: #ddd;
*/
	height: 33px;
	width: 43px;
}
.batsu{
	display:none;
	color: ;
	font-size: 30px;
    line-height: 30px;
    /* vertical-align: bottom; */
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
}
.icon-bar{
	display: block;
    width: 24px;
    height: 3px;
    border-radius: 1px;
/*    background-color: #888;*/
	background-color: black;
	transition: 0.5s
}

.icon-bar + .icon-bar {
    margin-top: 6px;
}

/* フッター */
footer {
	font-size: 11px;
}
@media only screen 
and (min-width : 768px){
	footer {
		position:relative;
		bottom: 0;
		width:100%;
	}
}

footer .footer-top{
	background-color: white;
    color: black;
    padding: 10px 20px;
    border-top: #eef0f1 solid 1px;
	box-sizing:border-box;
	padding: 10px 20px;
}
footer .footer-bottom{
	background-color: white;
	color:black;
	padding: 10px 20px;
}
footer ul{
	list-style: none;
	padding:0;
	
}
footer li{
	display:inline;
}
footer a{
	color: black;
}
footer a:hover{
	text-decoration: none;
}

/* スマホ用グローバルナビ */
@media only screen 
and (max-width : 991px) {
	#sp-gloabl-menus{
		display: none;
		width:100vw;
		height:100vh;
		z-index: 1000;
		position:absolute;
		top:50px;
		 
    	left: 15px;
		transition: 0.5s;
		background-color: rgba(255, 255, 255, 0.9);
  
		
	}
	#sp-gloabl-menus ul{
		padding: 20px 20px;
		text-decoration: none;
		list-style: none;
		
	}
	#sp-gloabl-menus li{
		width: 100%;
/*		height: 30px;*/
		height: 50px;
		padding: 10px 0;
		margin: 10px 0;
		border-bottom: 1px gray solid;
	}
	
	#sp-gloabl-menus li:last-child{
		
		border-bottom: none;
	}
	
	#sp-gloabl-menus li .global-navi-link{
		height: 100%;
		width: 100%;
		margin: 0 !important;
	}
	
	
	#sp-gloabl-menus li .global-navi-link span{
		position: relative;
		display: block;
		width:100%;
	}
	#sp-gloabl-menus li .global-navi-link a{
		margin: 0;

	}
	#sp-gloabl-menus li a span{
		font-size: 13px;
	}	
}


/**
top
**/
/* メイン画像 */
#index-main-image-container.zeroscroll{
	margin-top:40px	
}
#index-main-image-container{
	margin-top:40px;	
}



.main-image-wrapper{
	position: relative;
	max-height: 600px;
    overflow: hidden;
	
}

.main-image-wrapper .carousel-control	{
	    background: transparent;
}

.main-image-wrapper .item{
	
}

#index-main-image-container.top-grid-area	{
		padding-left: 26px;
		padding-right: 26px;

}

@media only screen 
	and (max-width : 767px) {
		
	#index-main-image-container.top-grid-area	{
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
	
	#index-main-image-container.top-grid-area .row{
		padding-left: 0;
		padding-right: 0;
		margin-right: -0;
		margin-left: -0;
	}
		
	#index-main-image-container.top-grid-area .row .col-xs-12{
		padding-left: 0;
		padding-right: 0;
	
	}
		
	.main-image-wrapper .carousel-inner .item img{
/*
		position: relative;
		max-height:100%;
		max-width: initial;
		left: 50%;
		transform: translate(-50%,0);
*/
		width:auto;
		
	}
}

@media only screen and (max-width:815px) {
	#index-main-image-container.top-grid-area {
		max-width: 100%;
	}
}
@media only screen and (max-width:610px) {
	#index-main-image-container.top-grid-area {
		max-width: 100%;
	}
}
@media only screen and (max-width:404px) {
	#index-main-image-container.top-grid-area {
		max-width: 100%;
	}
}

.main-text-wrapper{
	position: absolute;
   	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    width: 100%;
    height: 30px;
	text-align: center;
}
.main-text{
	vertical-align: middle;
    color: #FFF;
	width: 96.66666666666666%;
}

.main-image{
	
}

/* 画像の下に行くボタン*/
.main-image-wrapper .show-image-below-button{
	position:absolute;
    height: 40px;
    right: 10px;
    bottom: 20px;
	z-index: 20px;
}

.main-image-wrapper .show-image-below-button:after{
	content: '';
    top: 50%;
    right: 0px;
    border-top: black solid 25px;
    border-right: transparent solid 15px;
    border-left: transparent solid 15px;
    position: absolute;
}

.main-image-wrapper .carousel-control.right{
	z-index: 10;
}
.main-image-wrapper .carousel-control.left{
	z-index: 10;
}
	

/* 下に行くボタン*/
.go-bottom-button{
	position: fixed;
	width: 42px;
    height: 40px;
    right: 20px;
    bottom: 20px;
	display:none;  
}
.go-bottom-button:after{
	content: '';
    top: 50%;
    right: 5px;
    border-top: white solid 25px;
    border-right: transparent solid 15px;
    border-left: transparent solid 15px;
    position: absolute;
}

/* ニュース一覧 */
.news-top-row{
	margin-top:100px;
}
@media only screen and (max-width: 768px){
	.news-top-row{
		margin-top:60px;
	}
	
	.news h2{
		margin-top:0;
	}
}

.container.top-grid-area.news{
/*
	padding-left: 26px;
    padding-right: 26px;
*/
}


.news-wrapper{
	text-decoration: none;
    list-style: none;
    padding: 0;
}
.news-wrapper img{
	width: 100%;
}

.news-wrapper a{
	margin: 5px;
}

.news-wrapper .news-content{
	opacity: 0;
    transition: 0.5s;
    display: block;
    position: absolute;
    /* margin: auto; */
    top: 0%;
    bottom: 0;
    left: 20px;
    right: 10px;
    text-align: center;
    height: 20px;
	font-size:18px;
}
.news-wrapper .news-image{
	overflow:hidden;
}
.news-wrapper .news-image:hover .news-content{
	opacity: 1;
	top: 5%;
}

.news-wrapper .news-image:hover img{
	opacity: 0.5;
}

.news-wrapper .news-image .news-content a{
	color: black;
	display: block;
	text-decoration: none;
}

/* ニュース、案件 */
.works-wrapper, .top-news-wrapper{
	text-decoration: none;
    list-style: none;
	padding: 0;
}

.top-news-wrapper .panel{
	height: 20em;
}
.top-news-wrapper .panel-body{
	margin: 15px;
    height: 18em;
    overflow: hidden;s
    text-overflow: ellipsis;
}

.top-news-wrapper img{
	width: 100%;
}

.works-wrapper .panel a, .top-news-wrapper  a{
	color:black
}

.works-wrapper a:hover, .top-news-wrapper a:hover{
	text-decoration: none;

}

.works-wrapper .note, .top-news-wrapper .note{
/*	color: #999999;*/
	font-size: 0.9em;
}

.col-news{
	position: relative;
	width: 204px;
/*	height: 408px;*/
	float: left;
	padding: 0 22px 44px 22px;
}

@media only screen and (max-width:404px) {
	.col-news{
		width: 140px;
		height: 220px;
		float: left;
		padding: 0 10px 20px 10px;
	}

}


.news-wrapper h3, .works-wrapper h3{
	color: black;
	font-weight: bold;
	opacity: 0;
	top: 45%;
	position: absolute;
	text-align: center;
	margin: -15px auto;
    left: 0;
    right: 0;
	transition: 0.5s;
	font-weight: normal;
}

.news-wrapper p, .works-wrapper p{
	color: black;
	font-weight: bold;
	opacity: 0;
	top: 65%;
	position: absolute;
	text-align: center;
	margin: -15px auto;
    left: 0;
    right: 0;
	transition: 0.5s;
	font-weight: normal;
}

.news-wrapper .news-image:hover p, .works-wrapper .col-work:hover p{
	opacity: 1;
	top: 60%;	
}

.news-wrapper .news-image:hover h2.works-wrapper .col-work:hover h3{
	opacity: 1;
	top: 50%;	
}

.works-wrapper a{
	overflow: hidden;
    display: block;
}

.works-wrapper img{
	width:100%;
	transition: 0.5s;
}
.works-wrapper img:hover{
	opacity: 0.5;
/*
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
*/
}
.works-wrapper h3{
	text-align: center;
}

.news-wrapper .news-image, .works-wrapper .col-work{
	position: relative;
	width: 204px;
	height: 204px;
	float: left;
	padding: 0 22px 44px 22px;
}



.top-grid-area{
	padding: 0 20px 20px;
	
}



@media only screen and (max-width:404px) {
	.news-wrapper .news-image, .works-wrapper .col-work{
		width: 140px;
		height: 140px;
		float: left;
		padding: 0 10px 20px 10px;
	}

}


.top-grid-area {
	max-width: 775px;
}
.top-grid-area .row{
	margin-right: -41px;
    margin-left: -41px;
}

@media only screen and (max-width:815px) {
	.top-grid-area {
		max-width: 570px;
/*		max-width: 608px;*/
	}
}
@media only screen and (max-width:610px) {
	.top-grid-area {
/*		max-width: 365px;*/
		max-width: 408px;
		padding: 0 0 80px;
	}
	.top-grid-area .row{
/*
		margin-right: -53px;
		margin-left: -53px;
*/
/*
		margin-right: -17px;
		margin-left: -17px;
*/
		
		margin-right: 0;
   		margin-left: 0;
	}
	
}



@media only screen and (max-width:404px) {
	.top-grid-area {
		max-width: 260px;
		padding: 25px 10px 30px;
	}
	
		
	.top-grid-area .row{
		margin-right: -20px;
		margin-left: -20px;
		padding: 0;
	}
}

@media only screen 
and (max-width : 767) {
	.works-wrapper .panel{
		height: 750px;
	}

}

@media only screen 
and (min-width : 768)
and (max-width : 1199){
	.works-wrapper .panel{
		height: 380px;
	}
}

@media only screen 
and (min-width : 1200)
{
	.works-wrapper .panel{
		height: 400px;
	}
}

/*  案件画像 */

#works-images-container {
	margin-top: 100px;
	padding-top: 0;
}

@media only screen 
and (min-width : 404px)
{
	#works-images-container {
		margin-top: 75px;
	}
}

@media only screen 
and (min-width : 404px) and (max-width: 1019px)
{
	#works-images-container {
		margin-top: 10rem;
	}
}

#works-images-container span.title{
	opacity: 0;
    transition: 0.5s;
    display: block;
    position: absolute;
     margin: auto; 
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 20px;
	font-size: 12px;
	word-break: break-all;
	width:130px;
		
}

#works-images-container div.works-image span.gray{
	color:gray !important;  
	font-size: 11px;
}
#works-images-container div.works-image:hover span{
	opacity: 1;
	top:-10%;
	color: black;
}

#works-main-image-container a, #works-images-container a{
	display: block;
	overflow: hidden;
	
}
#works-main-image-container img, #works-images-container img{
	transition: 0.5s;
}

#works-main-image-container img:hover, #works-images-container div.works-image:hover img{
/*
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
*/
	opacity: 0.2;
}

/**
ニュース詳細
**/
#news-main-text-container .panel-body{
	padding-left: 0;
    padding-right: 0;
}

/**
案件詳細
**/
#works-image-text-container .image-area{
/*	height: 400px;*/
	overflow: hidden;
}

@media only screen and (max-width:404px) {
	#work-main-text-container.top-grid-area,
	#works-image-text-container.top-grid-area {
		max-width: none;
	
	}
	
	#work-main-text-container.top-grid-area .row,	
	#works-image-text-container.top-grid-area .row{
		margin-right: -10px;
		margin-left: -10px;
	
	}
}

@media only screen 
and (min-width : 768px){
	#works-image-text-container .image-area{
		padding-right: 0;
	}	
}

#works-image-text-container .image-area img{
	width:100% !important;
}




@media only screen 
and (max-width : 767px){
	#works-image-text-container .text-area{
		height: auto;
	}	
}

@media only screen 
and (min-width : 768px){
	#works-image-text-container .text-area{
/*		height: 400px;*/
	}	
}


#works-image-text-container .text-area div{
	height: 100%;
}

#works-image-text-container .text-area .panel-body{
	
    padding-right: 0;
}

#work-main-text-container .panel-body{
/*
	padding-left: 0;
    padding-right: 0;
*/
	
}

.sub-title.other-works{
	margin-top:0;
	margin-bottom:20px;
}

/*
about
*/
@media only screen 
	and (min-width : 1020px){
		
}
#about-container {
/*
	padding-right: 10px;
    padding-left: 10px;
*/
}
#about-container dd{
	margin: 0 0 20px 110px;
}

#recruit-container dd{
	margin: 0 0 0 70px;
}
#about-container.top-grid-area .row{
	margin-left: -10px;
	margin-right: -10px;
}

@media only screen 
and (min-width : 768px) and (max-width: 1020px){
	#about-container.top-grid-area .row{
		margin-left: -30px;
		margin-right: -30px;
	}
}

@media only screen 
and (min-width : 768px){
	#about-container .sub-title{
	text-align: left;
	}

	#about-container .sub-sub-title{

		text-align: left;

	}
}

#about-container span.name{
	font-weight: bold;
}

#contact-container .sub-title{
	margin-top: 50px;
	margin-bottom: 32px;
}

#contact-container label{
	 text-align: left;

}

#contact-container .form-control{
	border-radius: 0px;
}

#recruit-container dt, #about-container dt{
	font-weight: normal;
}

#recruit-container h2, #about-container h2{
	margin-top: 20px;
}

@media only screen and (max-width: 404px){
	#recruit-container h2, #about-container h2{
		margin-top: 0;
	}
}

@media only screen and (max-width: 404px){
	#recruit-container.top-grid-area, #about-container.top-grid-area{
		max-width: 384px;
	}
}